body
  display: flex
  min-height: 100vh
  flex-direction: column

main
  flex 1 0 auto

h1
  line-height 0.2em

#search-bar
  width 95%
  input
    font-size 2rem

#button-add
  border-radius 0 !important
  float right

@media only screen and (min-width: 993px)
  .condensed
    width 50%
